.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar-dark {
  background-color: orangered;
}

.searchBar{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 35px;
  font-size: 20px;
}

.navbar{
  background: rgb(248, 103, 7);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}

.nav{
  display: flex;
  align-items: center;
  margin-right: -24px;

  /* Second Nav */
   margin-right: 24px;
}



.form-button{
  transition: all 0.2s ease-in-out;
  background: brown;
  outline: none;
  border: 0ch;
}

.form-button:hover{
  transition: all 0.2s ease-in-out;
  background: rgb(94, 26, 26);
  /* color: brown; */
}

.Modal-position{
  position: absolute;
  margin-left: 5vw;
}

.Modal{
  width: 90vw;
  height: 90vh;
}