body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  height: 100vh
}

.header{
  height: 10vh
}

.dash-div{
  height: 90vh
}

.events{
  color:darkcyan;
  background-color: beige;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

.successModal{
  color: green;
}

.failedModal{
  color: red;
}

.add-dashboard-title{
  margin-top: 1em;
  margin-bottom: 2em;
}

.cluster-input-block{
  margin-top: 1em;
  margin-bottom: 2em;
}

.cluster-input-option{
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.cluster-input-title{
  font-size: large;
  margin-bottom: 0.5em;
  
}

.cluster-input-field{
  margin-top: 0.5em;
  text-align: right;
}

.cluster-credentials-block{
  margin-bottom: 2em;
  text-align: left;
}

.cluster-credentials-title{
  font-size: x-large;
  text-align: center;
}

.cluster-credentials-field{
  margin-top: 0.5em;
  text-align: right;
}